[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AlgeriAPIs"]
	path = AlgeriAPIs
	url = https://github.com/lightbluetitan/algeriapis
[submodule "ArgentinAPI"]
	path = ArgentinAPI
	url = https://github.com/lightbluetitan/argentinapi
[submodule "BrazilDataAPI"]
	path = BrazilDataAPI
	url = https://github.com/lightbluetitan/brazildataapi
[submodule "CardioDataSets"]
	path = CardioDataSets
	url = https://github.com/lightbluetitan/cardiodatasets
[submodule "ChileDataAPI"]
	path = ChileDataAPI
	url = https://github.com/lightbluetitan/chiledataapi
[submodule "ChinAPIs"]
	path = ChinAPIs
	url = https://github.com/lightbluetitan/chinapis
[submodule "ColombiAPI"]
	path = ColombiAPI
	url = https://github.com/lightbluetitan/colombiapi
[submodule "DataSetsVerse"]
	path = DataSetsVerse
	url = https://github.com/lightbluetitan/datasetsverse
[submodule "DigestiveDataSets"]
	path = DigestiveDataSets
	url = https://github.com/lightbluetitan/digestivedatasets
[submodule "IndiAPIs"]
	path = IndiAPIs
	url = https://github.com/lightbluetitan/indiapis
[submodule "IndonesiAPIs"]
	path = IndonesiAPIs
	url = https://github.com/lightbluetitan/indonesiapis
[submodule "JapanAPIs"]
	path = JapanAPIs
	url = https://github.com/lightbluetitan/japanapis
[submodule "Latamverse"]
	path = Latamverse
	url = https://github.com/lightbluetitan/latamverse
[submodule "MedDataSets"]
	path = MedDataSets
	url = https://github.com/lightbluetitan/meddatasets
[submodule "MedxR"]
	path = MedxR
	url = https://github.com/lightbluetitan/medxr
[submodule "MexicoDataAPI"]
	path = MexicoDataAPI
	url = https://github.com/lightbluetitan/mexicodataapi
[submodule "NeuroDataSets"]
	path = NeuroDataSets
	url = https://github.com/lightbluetitan/neurodatasets
[submodule "OncoDataSets"]
	path = OncoDataSets
	url = https://github.com/lightbluetitan/oncodatasets
[submodule "PeruAPIs"]
	path = PeruAPIs
	url = https://github.com/lightbluetitan/peruapis
[submodule "PulmoDataSets"]
	path = PulmoDataSets
	url = https://github.com/lightbluetitan/pulmodatasets
[submodule "crimedatasets"]
	path = crimedatasets
	url = https://github.com/lightbluetitan/crimedatasets
[submodule "educationR"]
	path = educationR
	url = https://github.com/lightbluetitan/educationr
[submodule "infectiousR"]
	path = infectiousR
	url = https://github.com/lightbluetitan/infectiousr
[submodule "sampledatasets"]
	path = sampledatasets
	url = https://github.com/lightbluetitan/sampledatasets
[submodule "timeSeriesDataSets"]
	path = timeSeriesDataSets
	url = https://github.com/lightbluetitan/timeseriesdatasets_r
[submodule "usdatasets"]
	path = usdatasets
	url = https://github.com/lightbluetitan/usdatasets
