[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MedDataSets"]
	path = MedDataSets
	url = https://github.com/lightbluetitan/meddatasets
[submodule "timeSeriesDataSets"]
	path = timeSeriesDataSets
	url = https://github.com/lightbluetitan/timeseriesdatasets_r
[submodule "usdatasets"]
	path = usdatasets
	url = https://github.com/lightbluetitan/usdatasets
