[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CardioDataSets"]
	path = CardioDataSets
	url = https://github.com/lightbluetitan/cardiodatasets
[submodule "ColombiAPI"]
	path = ColombiAPI
	url = https://github.com/lightbluetitan/colombiapi
[submodule "MedDataSets"]
	path = MedDataSets
	url = https://github.com/lightbluetitan/meddatasets
[submodule "OncoDataSets"]
	path = OncoDataSets
	url = https://github.com/lightbluetitan/oncodatasets
[submodule "crimedatasets"]
	path = crimedatasets
	url = https://github.com/lightbluetitan/crimedatasets
[submodule "educationR"]
	path = educationR
	url = https://github.com/lightbluetitan/educationr
[submodule "sampledatasets"]
	path = sampledatasets
	url = https://github.com/lightbluetitan/sampledatasets
[submodule "timeSeriesDataSets"]
	path = timeSeriesDataSets
	url = https://github.com/lightbluetitan/timeseriesdatasets_r
[submodule "usdatasets"]
	path = usdatasets
	url = https://github.com/lightbluetitan/usdatasets
